<div class="footer_img full_width">
    <img src="images/home_img.jpg" alt=""/>
</div>
<h6>Connect With me</h6>
<ul class="full_width social_icons">
    <li>
        <a href="https://www.facebook.com/tauphik.ahamad" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i><span class="leftLine"></span><span class="leftRight"></span></a>
    </li>    
    <li>
        <a href="https://www.linkedin.com/in/tauphik-ahamad-34938b76/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="leftLine"></span><span class="leftRight"></span></a>
    </li>
    <li>
        <a href="https://twitter.com/tauphik257" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span class="leftLine"></span><span class="leftRight"></span></a>
    </li>
</ul>
<p>&copy;2021 Tauphik Ahamad all rights reserved. Technical Analyst | freelancer.</p>