<div class="headerTop alignCenter" ng-controller="HeaderCrtl">
    <h1 class="logo">
        <a href="javascript:void(0)">
            <img src="images/logo.png" alt="logo"/>
        </a>
    </h1>
    <div class="navigation">
        <ul class="stickeyNav">
            <li><a href="javascript:void(0)">{{CurrentPage}}</a></li>
        </ul>
        <div class="floating_btn">
            <div class="fixed-action-btn click-to-toggle">
                <a class="btn-floating btn-large toggleBtn waves-effect waves-light">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                <ul class="navDropDown">
                    <li data-toolTip="Home" class="HomeBtn"><span></span><a href="#!/" class="btn-floating teal darken-4 waves-effect waves-light"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li data-toolTip="Portfolio" class="PortfolioBtn"><span></span><a href="#!/portfolio" class="btn-floating green darken-1 waves-effect waves-light"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>                    
                </ul>
            </div>
        </div>
    </div>
</div>
    