<div class="full_width" ng-controller="PortCtrl">
    <div class="PortfolioBanner">
        <div class="full_width bannerContent">
            <div class="bannerImg">
                <img src="images/home_img.jpg" alt=""/>
            </div>
            <h2>
                My Work Gallery
                <span>"Give A Moment's To View My Project's"</span>
            </h2>
            <div class="buttonDiv full_width">
                <a href="images/TAUPHIK_interview.docx" class="btnLink waves-effect waves-light btn" download>download resume</a>
            </div>
        </div>
    </div>
    <div class="full_width AboutMainBlock">
        <div class="container">
            <h3>Before You <span>Start</span></h3>
            <p class="fullParaText">Below you will find a handful of my work that i have accomplished from the past year. I welcome the new visitors and always happy to hear from you.</p>
            <div class="PortfolioProject full_width">
                <ul class="full_width alignCenter">
                    <li class="alignCenter" ng-repeat="Projects in PortfolioData" on-finish-render="ngRepeatFinished">
                        <div class="project_image full_width">
                            <img src="{{Projects.ProjectImage}}" alt="images"/>
                        </div>
                        <a href="{{Projects.Projectlink}}" target="_blank" class="project_content full_width waves-effect waves-light">
                            <p>{{Projects.ProjectName}}</p>
                            <h5>{{Projects.ProjectTitle}}</h5>
                        </a>
                    </li>
                </ul>
                <strong>{{content}}</strong>
            </div>
        </div>
        <div class="buttonDiv full_width">
            <a href="#!/contact" class="btnLink waves-effect waves-light btn">Interested say hello</a>
        </div>
    </div>
</div>